.arrow__banner {
    img {
        max-width: 100% !important;
    }
}



.banner {
    height: rem(850);
    width: 100%;
    display: flex;
    position: relative;

    .slider-track {
        transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    }

    .slick-slide {
        &:after {
            content: "";
            position: abssolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
        }
    }

    .banner__main {
        height: 100%;
        width: 100%;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            background: $navBlue;
        }

        img {
            height: rem(850);
            max-width: 100%;
        }

        @media (max-width: em(1199)) {
            width: 100%;
        }

        .banner__card {
            position: absolute;
            top: 50%;
            right: calc(50vw - 738px);
            transform: translateY(-50%);
            max-width: rem(780);
            max-height: rem(380);
            box-sizing: border-box;
            padding: rem(30) rem(75) rem(10) rem(30);
            box-sizing: border-box;
            background-color: rgba(255, 255, 255, 0.85);
            border-left: solid rem(40) $navyBlue;
            color: #757175;
            z-index: 1;

            @media (max-width: em(1530)) {
                max-width: rem(700);
                right: calc(50vw - 661px);
            }

            @media (max-width: em(1430)) {
                max-width: rem(700);
                right: calc(50vw - 581px);
            }

            @media (max-width: em(1199)) {
                right: 0;
                left: 0;
                transform: auto;
                margin: auto;
            }

            @media (max-width: em(768)) {
                border-left: none !important;
                top: auto !important;
                opacity: 1 !important;
                background-color: #fff !important;
                left: auto !important;
                transform: translateY(0%) !important;
                max-height: none !important;
                right: auto !important;
                max-width: 100% !important;
                position: relative !important;
            }

            .banner__card__link {
                padding: rem(10) 0;
                text-align: right;

                a {
                    color: black;
                    text-transform: uppercase;

                    span.bold {
                        font-weight: 1000;
                    }

                }
            }
        }

    }

    .banner__empty {
        width: 26%;
        height: 100%;
        background: $navBlue;
    }


}

.slider__items {
    div {
        // background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
        position: relative;
    }

    img {
        z-index: -1;
        position: relative;

    }
}

.banner__main__arrows {
    position: absolute;
    bottom: 0;
    left: calc(50vw - 676px);

    @media (max-width: em(1430)) {
        left: rem(200);
    }
}


.border-orange {
    border-left: solid rem(40) $lightOrange !important;
}

.border-red {
    border-left: solid rem(40) #A3071C !important;
}
