.contactUs {
    padding: rem(50) 0;
    margin-top: rem(150);
    @media (max-width: em(991)) {
        margin-top: rem(100);
    }

    h1 {
        margin-bottom: rem(50);

        @media(max-width:em(760)) {
            color: #08327D;
        }
    }
}

.form {
    &__inputGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: rem(20);

        @media (max-width: em(610)) {
            grid-template-columns: 1fr;
        }

        &--message {
            margin-top: rem(20);
            grid-template-columns: 1fr;
        }

        &--submit {
            margin-top: rem(20);
            grid-template-columns: 1fr;
        }
    }

    .inputGroup {
        &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            label {
                font-size: rem(18);
                margin-bottom: rem(7);
                font-weight: $bold;
                color:#757175;
            }

            input:not(submit) {
                width: 100%;
            }

            input[type="submit"] {
                background: #323D50;
                color: $basewhite;
                width: auto;
                align-self: flex-end;
                min-width: rem(200);
                padding: rem(25);
                height: auto;
                font-size: rem(20);
                border: none;
                cursor: pointer;

                @media(max-width:em(610)) {
                    padding: rem(20);
                }

                &:focus {
                    outline: none;
                    border: none;
                    box-shadow: none;
                }
            }

            textarea {
                width: 100%;
            }
        }
    }
}
