.header {
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999999999;
    transition: 0.4s all ease;

    &__wrapper {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding-right: calc(50vw - 740px);

        @media (max-width: em(1510)) {
            padding-right: rem(20);
        }
    }

    &__contact {
        margin-left: auto;

        @media (max-width: em(1515)) {
            display: none;
        }
    }

    &__hamburger {
        display: none;
        margin-left: auto;
        margin-right: rem(20);
        position: absolute;
        width: rem(40);
        height: rem(40);
        right: 0;
        top: rem(54);
        z-index: 22;
        
        @media(max-width:em(991)) {
            top: rem(44);
        }


        @media(max-width:em(610)) {
            top: rem(24);
        }

        &:before {
            content: "MENU";
            position: absolute;
            left: rem(-55);
            color: white;
            top: rem(5);
            font-weight: bold;
        }

        @media (max-width: em(991)) {
            display: flex;
        }
    }

    &__logo {
        a {
            display: inline-block;
            width: rem(280);
            padding: 0 rem(21);
            margin-left: 120px;
            margin-right: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            @media (max-width: em(1824)) {
               margin-left: 0;
            }
            
            @media (max-width: em(1668)) {
               margin-right: 0;
            }

            @media (max-width: em(1400)) {
                width: rem(200);
            }
            
            @media(max-width:em(991)) {
                padding: rem(10) rem(21);
            }

            @media(max-width:em(610)) {
                width: rem(135);
                padding: rem(10) 0;
            }
        }

        img {
            height: auto;
            margin: 0;
            vertical-align: bottom;

            @media(max-width:em(610)) {
                height: rem(50);
            }
        }
    }

    .logo {
        margin: 0;
    }

    .contact {
        ul {
            display: flex;
            align-items: center;

            li {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    height: rem(20);
                    width: rem(1);
                    background: #2f6e9a;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:first-of-type {
                    padding-right: rem(15);
                }

                &:last-of-type {
                    padding-left: rem(15);

                    &:after {
                        display: none;
                    }
                }
            }

            a {
                color: black;
                @media (max-width: em(991))  {
                    color: white;
                }
                

                i {
                    font-size: rem(20);
                    color: $lightBlue;
                    margin-right: rem(7);
                }
            }
        }
    }

    .nav {
        @media(max-width:em(1250)) {
            margin-left: auto;
        }

        @media (max-width: em(991)) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #323d50;
            height: 100vh;
            z-index: 20;
            padding: rem(20);
            padding-top: rem(100);
            display: none;
            overflow-x: scroll;

            &--active {
                display: block;
            }
        }

        ul {
            li {
                font-weight: bold;

                @media (max-width: em(991)) {
                    line-height: 1.4;
                }
            }
        }

        > ul {
            display: flex;
            align-items: center;

            @media (max-width: em(991)) {
                flex-direction: column;
                align-items: flex-start;
                
            }

            > li {
                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    height: rem(20);
                    width: rem(1);
                    background: #2f6e9a;
                    top: 50%;
                    transform: translateY(-50%);

                    @media (max-width: em(991)) {
                        display: none;
                    }
                }

                &:last-of-type {
                    &:after {
                        display: none;
                    }
                }

                > a {
                    padding: rem(60) rem(22);
                    
                    @media(max-width:em(1818)) {
                        padding: rem(48) rem(27);
                    }

                    @media(max-width:em(1480)) {
                        padding: rem(42) rem(30);
                    }

                    @media (max-width: em(1300)) {
                        padding: rem(40) rem(22);
                    }

                    @media (max-width: em(991)) {
                        padding: 0;
                    }
                }
            }

            li {
                text-transform: uppercase;
                position: relative;

                a {
                    color: black;
                    font-weight: 600;
                    display: inline-block;
                    @media (max-width: em(991))  {
                        color: white;
                    }
                }

                ul {
                    visibility: hidden;
                    opacity: 0;
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    z-index: 3;
                    background-color: rgba(255,255,255,0.5);
                    width: rem(320);
                    padding: 0;
                    left: 0;
                    

                    @media (max-width: em(991)) {
                        
                        background-color:#323d50;
                        border: none;
                        width: 100%;
                        visibility: visible;
                        opacity: 1;
                        display: flex;
                        flex-direction: column;
                        position: initial;
                        margin: rem(20) 0 rem(20) rem(20);
                    }

                    li {
                        line-height: 1.4;
                        padding: rem(10) rem(40);
                        border-bottom: rem(1) solid #ffffff;
                        
                        @media (max-width: em(1300)) {
                            padding: rem(10) rem(30);
                        }

                        @media (max-width: em(991)) {
                            border: none;
                            padding: 0;
                            margin-bottom: rem(20);

                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }

                        &:last-of-type {
                            margin-bottom: 0;
                            border: none;
                        }
                    }
                }

                &:hover {
                    > ul {
                        display: flex;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

#hamburger {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#hamburger span {
    display: block;
    position: absolute;
    height: rem(4.5);
    width: 50%;
    background: $basewhite;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(even) {
    left: 50%;
    border-radius: 0 rem(4.5) rem(4.5) 0;
}

#hamburger span:nth-child(odd) {
    left: 0px;
    border-radius: rem(4.5) 0 0 rem(4.5);
}

#hamburger span:nth-child(1),
#hamburger span:nth-child(2) {
    top: 0px;
}

#hamburger span:nth-child(3),
#hamburger span:nth-child(4) {
    top: rem(10);
}

#hamburger span:nth-child(5),
#hamburger span:nth-child(6) {
    top: rem(20);
}

#hamburger.open span:nth-child(1),
#hamburger.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(2),
#hamburger.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(1) {
    left: rem(7);
    top: 7px;
}

#hamburger.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#hamburger.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#hamburger.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#hamburger.open span:nth-child(5) {
    left: rem(7);
    top: rem(15);
}

#hamburger.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: rem(15);
}
.navScrolled {
    background-color: rgb(255, 255, 255);
    transition: 0.4s all ease;
    @media (max-width: em(991)) {
        background-color:#323d50;
    }
}

.header {
    transition: 0.2s ease !important;
    @media (max-width: em(991)) {
        background-color:#323d50;
    }
}


.header:hover{
    @media (min-width: em(991)) {
    background-color: white !important;
    }
}

.header:hover .header__wrapper .header__nav ul li ul{
    @media (min-width: em(991)) {
            
        
    background-color: white !important;
    transition: 2s ease all;
    }
}