$basewhite: #ffffff;
$baseblack: #000000;
$offWhite: #f4f4f4;
$darkGrey: #413f41;
$green: #8bce43;
$sage: #d5edbb;
$body: #161615;
$blue: #006ebd;
$borderBlue: #2F6E9A;
$skyBlue: #37A4DA;
$lightGrey: #F5F5F5;
$darkBlue: #09327D;
$navBlue: #323D50;
$navyBlue: #08327D;
$orange: #EC662E;
$lightOrange: #F18A2A;
$sectorBlue: #323D50;
$lightBlue: #206DAD;