html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer !important;

    &:hover {
        cursor: pointer !important;
    }
}

body {
    box-sizing: border-box;
    font-family: $baseFontFamily;
    font-weight: $roman;
    color: $body;
    overflow-x: hidden;

    max-width: 100%;


    * {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
    }

    &.noFlow {
        overflow: hidden;
    }
}

.nonVisible {
    visibility: hidden;
}



.container {
    max-width: 100%;
    width: rem(1440);
    padding: 0rem rem(20);
    margin: 0 auto;
}

.reducedContainer {
    width: rem(1090);
}

.reducedContainer__border {
    width: rem(1190);
}



/* BACKGROUND COLOURS */
.darkBlue {
    background: #09327D;
}

.skyBlue {
    background: $skyBlue;
}

.type1 {
    padding: 0;
}

.section__type1 {


    .section__type1__main {
        width: 100%;
        display: flex;

        .section__type1__left {
            width: 50vw;
            text-align: right;

            .container {
                padding: rem(80) rem(70);
                width: auto;



                .logo {}

                .text {
                    h3 {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .section__type1__right {
            display: flex;
            align-items: center;
            width: 50vw;
            background: #F5F5F5;
            text-align: left;
            padding-right: calc(50vw - 740px);

            .container {
                max-width: 100%;
                margin: 0;
                padding-left: rem(35);
                padding-right: rem(20);

                p {
                    color: #757175;
                }

                @media (max-width: em(900)) {
                    padding-left: rem(20);
                    padding-top: rem(30);
                    padding-bottom: rem(30);
                }
            }
        }
    }
}


.inform {
    display: flex;

    .inform__leftSide {
        background: $skyBlue;

        .container {
            padding-left: calc(50vw - 510px);
            width: auto;
            padding-right: rem(100);


        }

        flex-grow: 1;

        .inform__leftSide__picture {
            object-fit: cover;
            content: url(../../assets/img/section1mainpic.png);
            width: 100%;
            max-height: rem(665);

            @media (max-width: em(1100)) {
                max-height: rem(1400);
            }
        }

        .inform__leftSide__section1 {
            position: relative;

            @media (max-width: em(1100)) {
                height: 100%;
            }

            .inform__leftSide__section1__content {

                p {
                    color: white;
                }

                a {
                    color: white;
                }

                @media (max-width: em(1426)) {
                    margin-left: 0;
                }

                .container {
                    margin-left: 0;

                    @media (max-width: em(1100)) {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .inform__rightSide {
        background: $skyBlue;


        @media (max-width: em(1000)) {
            padding: 0;
        }

        .container {
            max-width: 100%;
            width: rem(720);
            margin: 0;
        }

        width: calc(50vw - 50px);

        .inform__rightSide__section1,
        .inform__rightSide__section2,
        .inform__rightSide__section3 {
            padding-right: calc(50vw - 740px);
            ;
        }

        .inform__rightSide__section1 {
            display: flex;
            position: relative;

            &:before {
                display: block;
                content: '';
                background-color: darken($skyBlue, 10%);
                opacity: 0.9;
                height: 100%;
                width: rem(50);
                position: absolute;
                left: rem(-50);

            }


            color:white;

            .inform__rightSide__section1__content {
                padding-left: rem(70);
                width: 100%;
                margin-top: auto;
                margin-bottom: auto;
                padding-top: rem(50);
                padding-bottom: rem(50);

                p {
                    color: white;
                }

                @media (max-width: em(1000)) {
                    padding-left: 0;
                    padding-right: 0;
                }

                @media (max-width: em(768)) {
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }

                button {
                    color: white;
                }

            }
        }

        .inform__rightSide__section2 {
            background: #fff;
            padding-bottom: rem(107);

            @media (max-width: em(1000)) {
                padding-bottom: 0;
            }

            .inform__rightSide__section2__content {
                padding-top: rem(63);
                padding-left: rem(60);



                .container {
                    ul {
                        li {
                            color: $darkGrey;
                        }
                    }
                }

                @media (max-width: em(1000)) {
                    padding: rem(100) 0;
                }

                @media (max-width: em(768)) {
                    padding-top: rem(25);
                }
            }
        }


        .inform__rightSide__section3 {

            background: $orange;
            position: relative;
            height: rem(360);
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;

            @media (max-width: em(790)) {
                height: rem(400);
            }

            &:before {
                display: block;
                content: '';
                background-color: darken($orange, 10%);
                opacity: 0.7;
                height: rem(360);
                width: rem(50);
                position: absolute;
                left: rem(-50);
                bottom: 0;

                @media (max-width: em(790)) {
                    height: rem(400);
                }
            }

            .inform__rightSide__section3__content {
                color: white;
                padding-left: rem(57);
            }

            .inform__rightSide__section3__button {
                position: absolute;
                margin-left: rem(78);
                top: rem(-35);

                @media (max-width: em(1070)) {
                    top: -70px;
                    margin-left: 0;
                    width: 100%;
                }

                a {
                    button {
                        @media (max-width: em(1070)) {
                            width: 100%;
                            padding: 0;
                        }
                    }
                }

            }
        }

        .inform__rightSide__section4 {
            background: red;
        }
    }
}

.header__images {
    .header__image {
        img {
            height: rem(500);
            width: 100%;
            object-fit: cover;
        }
    }
}

.splitImages {
    position: relative;
    display: flex;
    height: rem(600);
    margin-bottom: rem(252);

    .splitImages__1 {

        position: relative;
        /*background-image: url(../../assets/img/Architecture.jpg);*/
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: calc(50vw + 50px);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .splitImages__card {
            display: flex;
            justify-content: center;
            flex-direction: column;
            z-index: 999;
            background-color: $navyBlue;
            height: rem(330);
            width: rem(563);
            padding: rem(30);
            position: absolute;
            bottom: -150px;
            right: 0;

            @media (max-width: em(1191)) {
                width: rem(480);
            }

            &:before {
                display: block;
                content: '';
                background-color: darken($skyBlue, 10%);
                ;
                opacity: 0.9;
                height: rem(330);
                width: rem(50);
                position: absolute;
                left: rem(-50);
                bottom: 0;
            }

            .splitImages__card__quote {}

            .splitImages__card__text {}
        }
    }

    .splitImages__2 {
        /*background-image: url(../../assets/img/construction.jpg);*/
        background-size: contain;
        background-repeat: no-repeat;
        width: calc(50vw - 50px);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /*img {
            width: 100%;
            height: 600px;
            overflow: hidden;
        }*/
    }

}


.test img {
    transition: 0.2s ease;

    &:hover {
        transform: scale(1.15);
    }
}

.ourCompanies__header {
    text-align: center;
    padding-top: rem(50);

    @media (max-width: em(768)) {
        padding-top: rem(0);
    }

    h2 {
        font-weight: 500;

        span {
            font-weight: 900;
        }
    }
}

.ourCompanies {
    background: $lightGrey;
    margin-bottom: rem(100);

    @media (max-width: em(768)) {
        margin-bottom: 0 !important;
    }

    #ourCompanies__slider {
        width: 100%;
        height: rem(200);
        background: $lightGrey;

        @media (max-width: em(991)) {
            height: auto;
        }

        .container {
            height: 100%;
        }
    }
}

@media (max-width: em(991)) {
    .ourCompanies {
        background: $lightGrey;
        margin: 0;
        margin-bottom: rem(30);
        padding: rem(30) rem(25) 0 rem(25);

        @media (max-width: em(768)) {
            padding: rem(10) rem(25);
        }

        ;

    }
}



#ourCompanies__slider .slick__content {
    position: relative;
    height: 100%;
    width: 65%;
    margin: 0 auto;

    @media (max-width: em(1244)) {
        width: 70%;
    }

    @media (max-width: em(991)) {
        width: 100%;
    }

    @media (max-width: em(991)) {
        width: 100%;
    }

    .container {
        height: 100%;
    }
}

#ourCompanies__slider .slick__items {
    text-align: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    @media (max-width: em(991)) {
        display: block;
    }

    div {
        @media (max-width: em(991)) {
            padding: rem(40) 0;
            margin: 0 auto;

            a {
                margin: 0 auto;
            }
        }

        img {
            @media (max-width: em(991)) {
                width: 100%;
                margin: 0 auto;
            }
        }
    }

}

#ourCompanies__slider .arrow_next {
    height: 100%;
    position: absolute;
    right: -50px;
    top: 0;
    text-align: right;
    padding: rem(50);

    img {
        max-width: 100%;
        max-height: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}

ul.slick-dots {
    bottom: rem(70);
}


#ourCompanies__slider .arrow_prev {
    height: 100%;
    position: absolute;
    left: -50px;
    top: 0;
    padding: rem(50);


    img {
        max-width: 100%;
        max-height: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}

.arrow_next__banner_sector {
    width: auto;
    height: auto;
    bottom: -120px;
    right: 500px;
    position: absolute;
    z-index: 999999;

    @media (max-width: em(1600)) {
        bottom: -150px;
    }

    @media (max-width: em(1230)) {
        display: none;
    }

    img {
        height: 100% !important;
        width: auto;

        &:hover {
            cursor: pointer;
        }
    }
}

.arrowsContainer {
    display: flex;

    .left_arrow {
        width: 50%;
    }

    .right_arrow {
        width: 50%;
    }
}

.arrow_prev__banner_sector {
    z-index: 99999;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    left: 500px;
    bottom: -120px;
    position: absolute;
    width: auto;

    @media (max-width: em(1600)) {
        bottom: -150px;
    }

    @media (max-width: em(1230)) {
        display: none;
    }

    img {

        &:hover {
            cursor: pointer;
        }
    }
}

.arrow_next__banner {
    height: auto;
    top: 0;
    text-align: right;
    position: relative;

    img {
        height: 100% !important;
        width: auto;

        &:hover {
            cursor: pointer;
        }
    }
}



.arrow_prev__banner {
    height: auto;
    top: 0;
    margin-right: rem(60);
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
        height: 50% !important;

        &:hover {
            cursor: pointer;
        }
    }
}


.banner__main__arrows {
    z-index: 99999;
    display: flex;
    bottom: rem(30) !important;
    max-width: 100%;
    height: 20%;

    @media (max-width: em(1550)) {
        left: rem(300);
    }

    .arrow__banner {
        height: 100%;
    }
}

.arrow__banner {
    z-index: 999;
}

.banner__main__casestudies {
    z-index: 999;
    position: absolute;
    height: 100%;
    top: 40%;
    right: rem(-150);

    .banner__main__casestudies__header {
        h5 {
            color: #D2A32E;
            font-weight: 700;
            margin-bottom: rem(5);
        }
    }

    .banner__main__casestudies__sub {
        h5 {
            color: white;
            font-weight: 700;
        }
    }

}

#ourCompanies__slider .arrow span {
    color: $orange;
    font-size: rem(70);

    &:hover {
        cursor: pointer;
    }
}

.test {
    height: 50%;
    display: flex;
    align-items: center;
}

#ourCompanies__slider .test img {
    margin: 0 auto;
    height: 100%;
}

#ourCompanies__slider .test:nth-child(even) {
    height: 40%;
}


.banner__main img {
    width: 100%;
    height: 50rem;
    object-fit: cover;
    overflow: hidden;

}

.banner__empty {
    @media (max-width: em(1199)) {
        display: none;
    }
}



.slick-dots {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    @media (max-width: em(600)) {
        right: 75%;
    }

    @media (max-width: em(400)) {
        right: 100%;
    }
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 50px;
    margin: 0 5px;
    padding: 0;
    line-height: 50px;
    cursor: pointer;
    margin: 0;

}

.quotes_slider .slick-dots li button:before {
    top: -30px;

    @media(max-width:em(1200)) {
        top: auto;
        bottom: 50px;
    }
}

.quotes_slider ul.slick-dots {
    @media(max-width:em(1200)) {
        top: auto;
        bottom: 50px;
    }
}

.quotes_slider .slick-dots li.slick-active button:before {
    opacity: .75;
    top: -30px;

    @media(max-width:em(1200)) {
        top: auto;
        bottom: 50px;
    }
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 15px;
    line-height: 40px;
    position: absolute;
    top: 30px;
    width: rem(20);
    height: rem(20);
    content: '•';
    text-align: center;
    opacity: 1;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.slick-dots li.slick-active button:before {
    opacity: .75;
    top: 30px;
}

.slick-dots li.slick-active button:before {
    content: url(../../assets/img/icon.png);
    position: absolute;
    top: 29px;
}

.sectors__infobox__box__header__info {
    display: none;
    padding-left: rem(25);
    padding-right: rem(25);
    padding-top: rem(25);
}

.sectors__infobox__box__header__info:hover {
    display: block;
}

.sectors__infobox__box__header:hover + .sectors__infobox__box__header__info {
    display: block;
    transition: 0.2s ease;
}



.sectors__infobox {
    position: relative;
    display: block;
    width: 100%;
    justify-content: space-between;


    .sectors__infobox__body {
        display: block;
        overflow: hidden;
        height: 420px;
        flex-basis: 33%;
        width: 20%;
        margin-bottom: 20px;
        position: relative;
        margin-left: 20px;

        @media (max-width: em(1500)) {
            height: rem(500);
        }

        @media (max-width: em(1230)) {
            flex-basis: 48%;
            display: flex;
            width: auto;
        }

        .sectors__infobox__body__background {
            width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;

            img {
                overflow: hidden;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1;
                position: relative;
            }
        }

        .sectors__infobox__body__content {
            padding: rem(20);
            position: absolute;
            transition: all 200ms ease-in;
            top: 77%;

            .sectors__infobox__body__header {
                z-index: 1;
                position: relative;
                margin-bottom: 20px;

                @media (max-width: em(1230)) {
                    margin-bottom: 0;
                }


                h4 {
                    color: white;
                    font-size: rem(40);

                    @media (max-width: em(1230)) {
                        font-size: rem(32);
                    }


                }
            }

            .sectors__infobox__body__text {
                padding: rem(25);

                @media (max-width: em(1230)) {
                    padding: rem(20) 0;
                }

                p {
                    color: white;
                }

                a {
                    color: white;
                    display: block;
                    margin-top: 20px;
                    line-height: 1.5;
                    font-weight: 600;

                    &:hover {
                        font-weight: 800;
                        transition: margin-left 0.2s;
                        margin-left: 7px;
                    }
                }
            }
        }
    }
}

.alternate_overlay {
    background: $lightBlue;
    opacity: 0.9;
    width: 280%;
    position: absolute;
    height: 1200px;
    z-index: 99999999;
    transform: rotate(49deg);
    left: -1250px;
    margin-bottom: -300px;
    top: 0;

    z-index: 0;
    transition: all 200ms ease-in;



    @media (max-width: em(1921)) {
        height: 1800px;
    }


    @media (max-width: em(1750)) {
        left: -1200px;
        transform: rotate(52deg);
    }

    @media (max-width: em(1500)) {
        left: -1150px;
        transform: rotate(61deg);
    }

    @media (max-width: em(1412)) {
        height: 1940px;
        left: -1130px;
    }



}

.sectors__infobox__body:hover > .alternate_overlay {
    transform: rotate(90deg);
    top: -150px;
    left: -400px;
    transition: all 200ms ease-in;

    @media (max-width: em(1800)) {
        top: -700px !important;
    }

    @media (min-width: em(2210)) {
        left: -600px;
    }

    @media (min-width: em(2400)) {
        left: -900px;
    }

}

.color_overlay {
    background: $lightBlue;
    opacity: 0.9;
    width: 280%;
    position: absolute;
    height: 1200px;
    z-index: 99999999;
    transform: rotate(35deg);
    margin-bottom: -300px;
    top: 0;
    left: -1100px;
    z-index: 0;
    transition: all 200ms ease-in;

    @media (max-width: em(1921)) {
        height: 1800px;
    }


    @media (max-width: em(1800)) {
        height: 1800px;
    }

    @media (max-width: em(1700)) {
        left: -1010px;
        transform: rotate(40deg);
    }


}

.sectors__infobox__body:hover > .color_overlay {
    transform: rotate(90deg);
    top: -150px;
    left: -400px;
    transition: all 200ms ease-in;

    @media (max-width: em(1800)) {
        top: -700px !important;
    }


    @media (min-width: em(2210)) {
        left: -600px;
    }

    @media (min-width: em(2400)) {
        left: -900px;
    }
}

.sectors__infobox__body:hover > .larger_overlay {
    @media (max-width: em(1800)) {
        top: -1000px !important;
    }

    @media (max-width: em(1500)) {
        top: -900px !important;
    }
}

.sectors__infobox__body:hover > .sectors__infobox__body__content {
    top: 0;
    transition: all 200ms ease-in;
}

.sectors__left {
    width: 100%;
    position: relative;
    display: flex;
}

.sectors__right {
    position: absolute;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 27%;
    overflow: hidden;
    right: 0;
    top: 0;

    @media (max-width: em(1920)) {
        width: 22%;
    }

    @media (max-width: em(1600)) {
        display: none;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }

    .sectors__img1 {
        margin-bottom: rem(30);
    }
}

.sectors {
    position: relative;
    margin-bottom: rem(145);
    margin-top: rem(166);

    @media (max-width: em(1230)) {
        margin-top: rem(50);
    }

    .container {
        padding: rem(0) rem(50);
        max-width: auto;
        width: auto;

        @media (max-width: em(768)) {
            padding: rem(0) rem(25)
        }
    }

    @media (max-width: em(991)) {
        margin-top: rem(25);
    }

    @media (max-width: em(1600)) {
        margin-bottom: rem(200)
    }

    @media (max-width: em(750)) {
        margin-bottom: 0;
    }
}

.accreditation_button {
    width: 100%;
    text-align: center;
    margin-top: rem(25);

    a {
        width: 100%;

        button {
            display: block;
            margin: 0 auto;
            color: white;
        }
    }
}

.arrow_alternate {
    top: 157px !important;
}

.arrow_next,
.arrow_prev {
    @media (max-width: em(1270)) {
        display: none !important;
    }

    &:hover {
        cursor: pointer;
    }
}

.accreditations {
    .button {
        display: none
    }
}

.arrow_next {
    position: absolute;
    right: -70px;
    top: 194px;
}

.arrow_prev {
    position: absolute;
    left: -70px;
    top: 194px;
}


.accreditations {
    position: relative;
    padding-top: rem(50);
    padding-bottom: rem(50);
    background: $lightGrey;
    display: flex;
    flex-direction: column;

    .container:first-of-type {
        order: 2;

        @media (max-width: em(768)) {
            order: 0;
        }
    }

    .container:last-of-type {
        order: 1;

        @media (max-width: em(750)) {
            margin-bottom: rem(25);
        }
    }



    @media (max-width: em(750)) {
        padding-top: rem(0);
    }



    .accreditations__text {
        display: flex;
        justify-content: center;
        align-items: center;

        .accreditations__info {
            p {
                color: darken($lightGrey, 40%);
            }
        }
    }

    .container {
        .accreditations__content {
            display: flex;
            justify-content: space-between;

            @media (max-width: em(768)) {
                display: block;
            }

            h2 {
                font-weight: bold;
                letter-spacing: 0;
            }

            .accreditations__image {
                width: 48%;

                @media(max-width:em(1280)) {
                    padding-left: 0;
                }

                @media (max-width: em(768)) {
                    padding: 0;
                    width: 100%;
                    height: rem(250);
                    margin-bottom: rem(40);

                }

                img {
                    object-fit: cover;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;

                    @media (max-width: em(768)) {
                        max-height: 100%;
                        max-width: 100%;
                        object-fit: cover;
                    }
                }


            }

            .accreditations__text {
                width: 48%;

                @media (max-width: em(768)) {
                    width: 100%;
                }

                @media (max-width: em(768)) {
                    padding: 0;
                }
            }
        }
    }
}


.accreditations__card__1 {

    .accreditations__card__1__image {
        object-fit: contain;
        display: flex;
        max-height: 70%;
        max-width: 100%;


        @media (max-width: em(750)) {
            max-height: 75%;
            justify-content: center;
        }

        img {
            max-height: 100%;

            @media (max-width: em(750)) {}
        }
    }

    margin-left:50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    background-color: $navyBlue;
    height: rem(300);
    width: 100%;
    padding: rem(44);
    position: absolute;
    top:rem(-150);

    &:before {
        display: block;
        content: '';
        background-color: darken($skyBlue, 10%);
        ;
        opacity: 0.9;
        height: rem(300);
        width: rem(50);
        position: absolute;
        left: rem(-50);
        bottom: 0;
    }

    @media (max-width: em(768)) {
        position: inherit;
        order: 2;
    }
}

.accreditations__card__2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    background-color: $orange;
    height: rem(300);
    width: 100%;
    padding: rem(25);
    position: absolute;
    left: 50%;
    top: -3%;

    &:before {
        display: block;
        content: '';
        background-color: $orange;
        opacity: 0.7;
        height: rem(300);
        width: rem(50);
        position: absolute;
        left: rem(-50);
        bottom: 0;
    }

    @media (max-width: em(768)) {
        position: inherit;
        order: 3;
    }

    @media (max-width: em(768)) {
        top: rem(137) !important;
    }

    @media (max-width: em(1300)) {
        top: rem(120);
        left: 25%;
    }

}

.caseStudies__row {
    display: flex;
    justify-content: space-between;
}

.caseStudies {
    padding: rem(50) 0rem;
    width: 100%;

    .container {
        .caseStudies__header {
            text-align: center;
        }

        .caseStudies__companies {

            text-align: center;

            .caseStudies__company {
                padding: rem(30) 0;

            }

            .caseStudies__company__image {
                background: red;

                img {
                    width: 100%;
                    height: auto;

                    &:hover {
                        opacity: 0.5;
                    }
                }


            }

            .caseStudies__company__name {
                margin-top: rem(10);
            }
        }
    }
}

.caseStory {
    padding: rem(50) 0;

    .sectors__right {}

    .container {

        .caseStory__header {
            display: flex;

            .caseStory__header__image {
                width: 50%;
            }

            .caseStory__header__card {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                .caseStory__header__card__body {
                    background: $lightGrey;
                    position: relative;
                    height: 75%;
                    width: 75%;
                    border-left: rem(40) solid $orange;
                    padding: rem(30);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);



                    .caseStory__header__card__body__text {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h5 {
                            font-size: rem(30);
                            font-weight: 600;
                        }

                        div {
                            width: 100%;

                            p {
                                font-size: rem(16);
                            }
                        }
                    }
                }
            }
        }
    }
}


.lastPerson {
    height: 100%;
}


.profiles {
    padding: rem(50) 0;
    overflow: hidden;


    .profiles__list {
        display: flex;

        @media (max-width: em(850)) {
            display: block
        }


        .profiles__list__row {
            width: 50%;
            flex-direction: row;
            margin-right: rem(40);
            overflow: hidden;

            @media (max-width: em(850)) {
                width: 100%;
                margin-right: 0;
            }


            .profiles__list__person {

                margin-bottom: rem(40);
                padding: rem(40);
                background: $lightGrey;
                width: 100%;

                .profiles__list__person__name {
                    margin-bottom: rem(15);
                }

                .profiles__list__person__title {
                    margin-bottom: rem(30);
                }
            }


        }
    }
}

.aboutus {
    padding: rem(50) 0;

    .container {
        .aboutus__section {
            margin-bottom: rem(50);
        }

        .aboutus__section:last-of-type {
            margin-bottom: rem(0);
        }
    }
}


.companies__header {

    h1 {
        color: black;
        line-height: 1.2;
        position: relative;
        padding-bottom: rem(50);
        margin-bottom: rem(50);

        @media(max-width:em(750)) {
            margin-bottom: rem(20);
            padding-bottom: 0;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: rem(150);
            height: rem(8);
            background: #09327D;

            @media(max-width:em(750)) {
                display: none;
            }
        }
    }
}

.companies {
    padding: rem(60);

    .companies__body {
        display: flex;
        margin-top: rem(50);

        .companies__body__text {
            width: 55%;
            padding-right: rem(50);
            display: flex;
            justify-content: center;
        }

        .companies__body__image {
            width: 45%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }
        }
    }

    .companies__logo {
        margin-bottom: rem(40);
    }



    .companies__subtitle {
        margin-bottom: rem(25);
    }
}

.footer__section1 {
    width: 60%;
    background: $navBlue;
    padding: 3.2rem 0;

    .footer__section1__header {
        margin-bottom: rem(20);
    }

    .footer__section1__links {
        margin-bottom: rem(25);
    }
}

.footer__container {
    max-width: 100%;
    width: rem(950);
    padding: 0rem rem(12) 0rem rem(120);
    margin: 0 auto;

    @media(max-width:em(1280)) {
        padding-left: rem(20);
    }

    @media (max-width: em(1150)) {
        max-width: 100%;
        width: auto;
    }
}

.footer__section2 {
    position: relative;
    width: 40%;
    padding: rem(50) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .footer__button {
        position: absolute;
        left: rem(-110);
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: em(1460)) {
            left: rem(-97);
        }

        @media (max-width: em(1500)) {
            left: rem(-97);
            top: 0;
            transform: translateY(-0%);
        }

        a {
            button {
                @media (max-width: em(1460)) {
                    padding: rem(0) rem(20);


                }
            }
        }

    }

    .footer__section2__links {
        margin-top: rem(10);
    }

    .footer__section2__logo__image__logo {
        img {
            height: rem(100);
        }
    }
}

.footer__section1__contact {
    p {
        color: #D2A32E;
    }
}

.footer__section1__contact__link1,
.footer__section1__contact__link2,
.footer__section1__contact__link3 {
    display: flex;
    align-items: center;
    margin-bottom: rem(10);

    .footer__section1__contact__link1__logo,
    .footer__section1__contact__link2__logo,
    .footer__section1__contact__link3__logo {
        padding-right: rem(30px);
        color: white;
        width: rem(50);

        @media (max-width: em(750)) {
            width: rem(40)
        }


        i {
            font-size: rem(20);
        }
    }

    .footer__section1__contact__link1__text,
    .footer__section1__contact__link2__text,
    .footer__section1__contact__link3__text {
        color: $lightOrange;
    }
}

.logo {
    margin-bottom: rem(10);

    img {
        height: 90px;
    }
}

footer {
    display: flex;
}



.caseStudy__info {
    padding: 0 0 rem(50) 0;


    .container {
        .caseStudy__info__header {
            margin-bottom: 2.5rem;

            h1 {
                font-weight: 800;
                text-align: center;
            }
        }

        .caseStudy__info__column {
            display: flex;
            justify-content: space-between;

            .caseStudy__info__box {
                width: 23.555555%;
                padding: rem(20) rem(20) rem(30) rem(20);
                margin-right: rem(20);
                text-align: center;
                background: $lightGrey;
                border: 1px solid darken($lightGrey, 10%);

                .caseStudy__info__box__icon {
                    margin-bottom: rem(20);

                    span {
                        text-align: center;
                        color: $navyBlue;
                        font-size: rem(28);

                    }
                }

                .caseStudy__info__box__header {
                    color: $darkGrey;

                    h2 {
                        margin-bottom: rem(15);
                        font-size: rem(24);
                    }

                }

            }

            .caseStudy__info__box:last-of-type {
                margin-right: 0;
            }

            /*.caseStudy__info__box:nth-last-child(odd) {
                background: red;
            }

            .caseStudy__info__box:nth-last-child(even) {
                background: blue;
            }*/
        }
    }
}

.cases__banner {
    width: 100%;
    margin-top: rem(30);
    padding-bottom: rem(100);
    position: relative;

    &:after {
        content: '';
        position: absolute;
        background-image: url(../../assets/img/arrow-down.png);
        background-repeat: no-repeat !important;
        background-position: center center;
        background-color: white;
        width: rem(100);
        height: rem(100);
        border-radius: 100%;
        left: 0;
        right: 0;
        align-content: center;
        align-items: center;
        z-index: 99;
        margin: 0 auto;
        bottom: -50px;
    }

    .container {
        .cases__flex {
            text-align: center;
            width: 60%;
            margin: 0 auto;

            .cases__header {
                position: relative;
                margin-bottom: rem(50);

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -25px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: rem(120);
                    height: rem(2);
                    background: $lightOrange;
                }
            }

            .cases__subheader {
                h4 {
                    margin-bottom: rem(20);
                    line-height: rem(35);
                    font-size: rem(17);
                    font-weight: 600;
                    color: $darkGrey;
                }
            }
        }
    }
}

.caseStudy:nth-last-child(even) {}

.caseStudy {
    height: 700px;
    display: flex;



    .caseStudy__image {
        width: 50vw;
        object-fit: cover;
        height: rem(700);

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .caseStudy__text {
        height: 100%;
        padding-right: calc(50vw - 740px);
        padding-left: rem(60);
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: em(1375)) {
            padding-left: 0;
        }

        .caseStudy__text__header {
            margin-bottom: rem(40);
        }

        .caseStudy__text__container {
            padding: 0 rem(20);
        }

        .caseStudy__text__button {
            margin-top: rem(40);
        }
    }



    .caseStudy__text:nth-last-child(even) {
        padding-right: rem(60);
        padding-left: calc(50vw - 740px);

        @media (max-width: em(1375)) {
            padding-right: 0;
        }

    }
}

.caseStoryInfo {
    padding: rem(80) 0;
    position: relative;

    .container {
        .caseStoryInfo__text {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .caseStoryInfo__text__split {
                width: 50%;
            }

            .caseStoryInfo__header {
                h4 {
                    margin-bottom: rem(25) !important;


                }
            }


            .caseStoryInfo__text__split:first-of-type {
                padding-right: rem(65);
            }
        }
    }
}

.sectors__infobox__box__header {
    display: flex;
    height: rem(50);
    align-items: center;

    .sectors__infobox__box__header__logo {
        margin-right: rem(15);
        width: rem(20);
        margin-left: rem(25);

        img {
            max-width: 100%;
        }
    }
}

.inform__leftSide__section1 {
    padding: rem(100) 0;

    @media (max-width: em(1100)) {
        padding-left: rem(25);
    }

    @media (max-width: em(768)) {
        padding-top: rem(25);
    }
}

.inform__rightSide__section3__content {
    width: 100%;

    @media (max-width: em(900)) {
        padding-left: 0 !important;
    }

    @media (max-width: em(991)) {
        padding-left: 0 !important;
    }

    p {
        color: white;
    }
}

.noPadding {
    padding: 0 !important;
    margin-bottom: rem(40);
}

.noMargin {}

.sectors__infobox__box__header__text {

    h5 {
        font-weight: 900;
    }
}

.aboutus {
    position: relative !important;

    .container {
        padding: 0rem rem(600) 0rem rem(30);

        @media (max-width: em(1490)) {
            padding: 0rem rem(20);
        }

        .aboutus__section {
            box-sizing: border-box;
            border-radius: 20px 0px;
        }

        .aboutus__section:nth-last-child(odd) {}
    }

    .sectors__right {
        width: 36%;

        @media (max-width: em(1800)) {
            width: 36%;
        }

        @media (max-width: em(1490)) {
            display: none;
        }
    }



}

.reducedSize {
    height: rem(400);
    padding: 0;
    margin-bottom: 0;
}


footer {
    @media(max-width:em(1498)) {
        display: block;

        .footer__section1,
        .footer__section2 {
            width: 100%;
        }

        .footer__section2 {
            padding-left: rem(20);
            padding-right: rem(20);
        }
    }

    @media(max-width:em(770)) {
        .footer__section2 {
            padding-left: rem(20) !important;
            padding-right: rem(20) !important;
        }
    }
}

#moreMechanical,
#moreElectrical {
    display: none;
}

.displayBlock {
    display: inline-block !important;
}

.displayNone {
    display: none;
}

.our_services__design {
    margin-bottom: rem(50);
}

.our_services__flex {
    display: flex;
    justify-content: space-between;


    @media(max-width:em(768)) {
        flex-direction: column;
    }
}

.our_services__electrical,
.our_services__mechanical {
    margin-bottom: rem(25);


    p {
        margin-bottom: 10px;
    }
}

.our_services__electrical {
    padding-right: rem(40);

    @media(max-width:em(768)) {
        padding-right: 0;
    }
}


.our_services__electrical,
.our_services__mechanical {
    width: 48%;

    @media(max-width:em(768)) {
        width: 100%;
    }
}

.marginTop {
    margin-top: rem(25) !important;
}

.noMargin {
    margin: 0 !important;
}

.our_quality__text,
.our_quality__image {
    width: 48%;

    img {
        height: 100%;
        max-width: 100%;
    }

    @media(max-width:em(768)) {
        width: 100%;
    }
}

.our_quality__image {
    order: 2;

    @media(max-width:em(768)) {
        margin-bottom: rem(25);
        order: 1;
    }
}

.our_quality__text {
    order: 1;

    @media(max-width:em(768)) {
        order: 2;
    }
}

#our_accreditations {
    padding: rem(50) 0 0 0;
}

.our__commitments {
    background: $lightGrey;
    padding: rem(50) 0;
}

.our_quality {
    padding: rem(50) 0;
}

.case__study__info {
    padding: rem(20);

    h2 {
        text-align: left;
        font-size: rem(30);
        margin-bottom: rem(5);

        @media (max-width: em(768)) {
            text-align: center;
        }
    }

    h3 {
        text-align: left;

        @media (max-width: em(768)) {
            text-align: center;
        }
    }


}

.case__study {
    background: $lightGrey;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    .case__study__image {
        overflow: hidden;

        img {
            transition: 0.25s ease-out;
        }
    }

    &:hover > .case__study__image > img {
        transform: scale(1.1);
        transition: 0.25s ease-out;
    }

    @media (max-width: em(768)) {
        border-radius: 0px;
        box-shadow: none;
    }
}

.case__study:last-of-type {
    @media (max-width: em(768)) {
        margin-bottom: rem(25);
    }
}

.case__study__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;


    a {
        display: block;
        flex-basis: 31.333333%;
        margin-top: rem(25);
        margin-bottom: rem(25);
        text-align: center;
        background-size: auto;
        position: relative;
        overflow: hidden;


        &:hover > .case__study__image > img {
            filter: none !important;
        }

        @media (max-width: em(1448)) {
            flex-basis: 47%;
        }

        @media (max-width: em(768)) {
            flex-basis: 100%;
            margin-bottom: 0px;
        }

        h1,
        h2 {
            z-index: 2;
        }

        img {
            width: 100%;
            object-fit: cover;
            height: 350px;
            overflow: hidden;
            z-index: -1;
            filter: grayscale(100%) contrast(100%);

            @media (max-width: em(768)) {
                filter: none;
            }
        }

        /*&:after {
            content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
        }*/
    }

    /*a:nth-child(1) {
        background:url(../../assets/img/gabriel.jpg)
    }
    a:nth-child(2) {
        background:url(../../assets/img/marsh.jpg)
    }
    a:nth-child(3) {
        background:url(../../assets/img/case_no1__1.JPG)
    }
    a:nth-child(4) {
        background:url(../../assets/img/fattorie3.jpg)
    }
    a:nth-child(5) {
        background:url(../../assets/img/image--16--big.jpg)
    }
    a:nth-child(6) {
        background:url(../../assets/img/image--19--big.jpg)
    }
    a:nth-child(7) {
        background:url(../../assets/img/image--25--big.jpg)
    }
    a:nth-child(8) {
        background:url(../../assets/img/image--20--big.jpg)
    }
    a:nth-child(9) {
        background:url(../../assets/img/image--24--big.jpg)
    }*/
}

.our_services__header {
    margin-bottom: rem(50);
    margin-top: rem(80);

    @media(max-width:em(770)) {
        margin-top: rem(30);
    }
}

.sectors__header {
    margin-bottom: rem(60);

    @media(max-width:em(1100)) {
        margin-bottom: rem(40);
    }

    @media(max-width:em(770)) {
        margin-bottom: rem(20);
    }

    h2 {
        color: $lightBlue;
        text-align: center;
        font-size: rem(70);

        @media(max-width:em(1230)) {
            font-size: rem(42);
        }
    }
}

.margin_bottom {
    display: block;
    margin-bottom: 10px;
}

.accreditations_slider {
    margin-bottom: rem(80);

    @media (max-width: em(1200)) {
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: rem(70);
        text-align: center;
    }

    h1 {
        text-align: center;

        &:after {
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }

    .container {
        position: relative;

        .accreditation_row {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            .slick-list {
                width: 100%;
            }

            .accreditation {
                img {
                    margin: 0 auto;
                    max-height: 200px;
                    max-width: 200px;
                    object-fit: cover;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @media(max-width:em(1000)) {
                        max-width: 90vw;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

.accreditations_slider .slick-track {
    display: flex;

    @media(max-width:em(768)) {
        display: block;
    }
}

.accreditations_slider .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;

    @media(max-width:em(768)) {
        display: block;
    }
}


.values__block {
    display: block;

    .values__info {}

    .values__graphic {

        margin-top: rem(75);
        text-align: center;

        img {
            object-fit: contain;
            text-align: center;
            height: 100%;
            max-width: 100%;
        }
    }
}

.bullet_quality {
    color: white;
    background: #FFC000;
}

.bullet_commitment {
    color: white;
    background: #70AD46;
}

.bullet_strength {
    color: white;
    background: #4473C5;
}

.bullet_dedication {
    color: white;
    background: #ED7D31;
}

.bullet_trust {
    color: white;
    background: #A5A5A5;
}

.bullet_dedication,
.bullet_trust {
    height: rem(340);
}

.bullet_commitment,
.bullet_quality {
    margin-top: -100px !important;
}

.bullet_accountability {
    color: white;
    background: #5A9BD5;
    margin-top: 150px;
    padding: rem(25) rem(25) rem(100) rem(25) !important;
}

.values__bullets {
    margin-top: -75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;

    .values__bullet {
        border-radius: 10px;
        padding: rem(25);
        flex-basis: 32%;
        margin-bottom: rem(25);
    }
}

span.larger {
    font-size: rem(45);
    color: $lightBlue;
}

.introduction {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .container {
        .intro__logo {
            margin-top: rem(42);

            img {
                height: rem(100);
                width: rem(100);
            }
        }

        .intro__header {
            padding-bottom: rem(40);
            position: relative;

            h3 {
                color: $darkGrey;
                font-size: rem(35);
                font-weight: 600;
            }

            &:after {
                content: "";
                position: absolute;
                right: 0;
                left: 0;
                bottom: 0;
                margin: 0 auto;
                width: rem(200);
                height: 2px;
                background: $lightBlue;
            }
        }

        .intro__paragraph {
            p {
                font-size: rem(17);
                margin-bottom: rem(25);
            }

            p:first-of-type {
                padding-top: rem(48);
                font-size: rem(20);
                font-weight: 600;
                color: $darkGrey;
            }

            p:last-of-type {
                margin-bottom: rem(80);
            }
        }
    }
}

.industries {
    margin-bottom: rem(110);

    @media (max-width: em(768)) {
        margin-bottom: rem(0);
    }

    .industries_container {
        padding: 0rem rem(50);

        @media (max-width: em(750)) {
            padding: 0 rem(25);
        }

        .flexContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media (max-width: em(1120)) {
                display: block;
            }

            .industry_box {
                position: relative;
                flex-basis: 32.333333%;
                padding: rem(60);
                background: red;
                z-index: 1;
                background-size: cover !important;

                @media (max-width: em(1120)) {
                    margin-bottom: rem(20);
                }

                @media (max-width: em(607)) {
                    padding: rem(30);
                }

                .industry_box__header {
                    position: relative;
                    z-index: 999;

                    h1 {
                        color: white;
                        font-size: rem(44);

                        @media (max-width: em(768)) {
                            font-size: rem(32);
                        }
                    }
                }

                .industry_box__text {
                    position: relative;
                    z-index: 999;

                    p {
                        font-size: rem(20);
                        font-weight: 500;
                        line-height: 1.2;
                        color: white;

                        @media (max-width: em(768)) {
                            font-size: rem(16);
                        }
                    }

                    a {
                        color: white;
                        font-size: rem(20);
                        font-weight: 500;
                        display: block;

                        @media (max-width: em(768)) {
                            font-size: rem(16);
                        }
                    }
                }

                .industry_box__overlay_orange,
                .industry_box__overlay_navy,
                .industry_box__overlay_skyblue {
                    z-index: 2;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                .industry_box__overlay_orange {
                    background-color: rgba(236, 102, 46, 0.7);
                }

                .industry_box__overlay_navy {
                    background-color: rgba(8, 50, 125, 0.7);
                }

                .industry_box__overlay_skyblue {
                    background-color: rgba(55, 164, 218, 0.7);
                }
            }

            .industry_box:nth-child(1) {
                background: url(../../assets/img/Architecture.jpg);
            }

            .industry_box:nth-child(2) {

                background: url(../../assets/img/sector2.jpg);
            }

            .industry_box:nth-child(3) {
                background: url(../../assets/img/sector1.jpg);
            }
        }
    }
}

.quote1 {
    background: url(../../assets/img/quote1.jpg);
    background-size: cover;
    height: rem(800);
    padding: rem(200);

    @media(max-width:em(1200)) {
        padding: 0;
    }
}

.quote2 {
    background: url(../../assets/img/quote2.jpg);
    background-size: cover;
    height: rem(800);
    padding: rem(200);

    @media(max-width:em(1200)) {
        padding: 0;
    }
}

.quote3 {
    background: url(../../assets/img/quote3.jpg);
    background-size: cover;
    height: rem(800);
    padding: rem(200);

    @media(max-width:em(1200)) {
        padding: 0;
    }
}

.quotes_slider {
    height: rem(800);

    .quotes {
        height: rem(800);

        .quote_container {
            padding: rem(40);
            margin: 0 auto;
            height: 100%;
            width: 84%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            @media(max-width:em(1200)) {
                padding: 0;
            }

            .quote {
                .quote_left {
                    color: orange;
                    font-size: rem(95);
                    position: absolute;
                    top: 0;
                    left: 0;

                    @media(max-width:em(1200)) {
                        top: 60px;
                    }
                }

                .quote_right {
                    color: orange;
                    font-size: rem(95);
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    @media(max-width:em(1200)) {
                        bottom: 60px;
                    }
                }

                .quote_text {
                    max-width: 65%;
                    margin: 0 auto;
                    text-align: center;

                    h2 {
                        color: white;
                    }
                }
            }
        }
    }
}

.navScrolled {
    background-color: rgb(255, 255, 255);
    transition: 0.4s all ease;
}

.caseStudyTile {
    margin-top: 120px;
}

#valuesPage {

    .color_overlay {
        height: 1700px;
        transform: rotate(41deg);
        left: -1064px;

        @media (max-width: em(1800)) {
            height: 1900px;
        }

        @media (max-width: em(1553)) {
            height: 1900px;
        }

        @media (max-width: em(1400)) {
            height: 2100px;
        }

        @media (max-width: em(1344)) {
            height: 2300px;
        }
    }

    margin-top: 0;

    .sectors__infobox__body:nth-child(4) {
        height: 660px;

        @media (max-width: em(1800)) {
            height: rem(730);
        }

        @media (max-width: em(1500)) {
            height: rem(800);
        }

        @media (max-width: em(1230)) {
            height: auto;
        }
    }

    .sectors__infobox__body:nth-child(5) {
        height: 660px;

        @media (max-width: em(1800)) {
            height: rem(730);
        }

        @media (max-width: em(1500)) {
            height: rem(800);
        }

        @media (max-width: em(1230)) {
            height: auto;
        }
    }

    .sectors__infobox__body:nth-child(6) {
        height: 660px;

        @media (max-width: em(1800)) {
            height: rem(730);
        }

        @media (max-width: em(1500)) {
            height: rem(800);
        }

        @media (max-width: em(1230)) {
            height: auto;
        }
    }

    .sectors__infobox__body {
        height: 700px;

        @media (max-width: em(1500)) {
            height: rem(800);
        }

        @media (max-width: em(1200)) {
            height: auto;
        }

        @media (max-width: em(1230)) {
            height: auto;
        }
    }

    .sectors__infobox__body__content {
        top: 83%;


        ul.circle {
            li {
                a {
                    margin-top: 0;
                }
            }
        }
    }

    .sectors__infobox__body:hover > .color_overlay {
        transform: rotate(90deg);
        top: -150px;
        left: -400px;
        transition: all 200ms ease-in;
    }

    .sectors__infobox__body:hover > .sectors__infobox__body__content {
        top: 0;
        transition: all 200ms ease-in;
    }

    .sectors__infobox__body:nth-child(1) .sectors__infobox__body__content {
        @media (max-width: em(1735)) {}

        @media (max-width: em(1675)) {
            top: 78%;
        }
    }

    .sectors__infobox__body:nth-child(3) .sectors__infobox__body__content {
        //
        top: 83%;

        @media (max-width: em(1581)) {
            top: 78%;
        }

    }

    .sectors__infobox__body:nth-child(2) .sectors__infobox__body__content {
        //
        top: 78%;

        @media (min-width: em(2500)) {
            top: 78%;
        }


    }

    .sectors__infobox__body:nth-child(5) .sectors__infobox__body__content {
        top: 83%;

        @media (max-width: em(1581)) {
            top: 78%;
        }


    }

    .sectors__infobox__body:nth-child(4) .sectors__infobox__body__content {
        top: 78%;

        @media (min-width: em(2145)) {
            top: 78%;
        }

        @media (max-width: em(1390)) {
            top: 78%;
        }
    }

    .sectors__infobox__body:nth-child(6) .sectors__infobox__body__content {
        top: 82%;

        @media (max-width: em(1897)) {
            top: 83%;
        }

        @media (max-width: em(1789)) {
            top: 83%;
        }

        @media (min-width: em(1939)) {
            top: 83%;
        }
    }

    .sectors__infobox__body:nth-child(1):hover > .sectors__infobox__body__content {
        top: 0;
        transition: all 200ms ease-in;
    }

    .sectors__infobox__body:nth-child(2):hover > .sectors__infobox__body__content {
        top: 0;
        transition: all 200ms ease-in;
    }

    .sectors__infobox__body:nth-child(3):hover > .sectors__infobox__body__content {
        top: 0;
        transition: all 200ms ease-in;
    }

    .sectors__infobox__body:nth-child(5):hover > .sectors__infobox__body__content {
        ////
        top: 0;
        transition: all 200ms ease-in;
    }

    .sectors__infobox__body:nth-child(4):hover > .sectors__infobox__body__content {
        top: 0;
        transition: all 200ms ease-in;
    }

    .sectors__infobox__body:nth-child(6):hover > .sectors__infobox__body__content {
        top: 0;
        transition: all 200ms ease-in;
    }
}

.sectors__infobox__body:nth-child(1) .sectors__infobox__body__header {
    @media (max-width: em(1675)) {
        max-width: 75%;
    }
}

.sectors__infobox__body:nth-child(4) .sectors__infobox__body__header {
    @media (max-width: em(1783)) {
        max-width: 75%;
    }
}

.sectors__infobox__body:nth-child(6) .sectors__infobox__body__header {
    @media (max-width: em(1789)) {
        max-width: 75%;
    }
}



.larger_overlay {

    @media (max-width: em(1800)) {
        height: 2300px !important;
    }

    @media (max-width: em(1344)) {
        height: 2300px !important;
        left: -1000px !important;
    }
}

.small_overlay {

    @media (max-width: em(1920)) {
        transform: rotate(48deg) !important;
        height: 1430px !important;
    }

    @media (max-width: em(1800)) {
        transform: rotate(48deg) !important;
        height: 1700px !important;
    }

    @media (max-width: em(1510)) {
        width: 300%;
        height: 1800px !important;
        top: 0 !important;
    }
}

.readMoreBtn {
    @media (max-width: em(768)) {
        font-size: rem(16) !important
    }
}

.banner__card__link {
    a {
        span {}
    }
}

.changedWidth {
    flex-basis: 33%;
    margin-bottom: 20px;
    position: relative;
    width: auto;
    margin-left: 0 !important;
    margin-bottom: 0;
}

.forcedFlex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

li.circle {
    a {
        &:hover {
            left: 0px !important;
            margin-left: 0px !important;
            font-weight: 600 !important;
            cursor: text !important;
        }
    }
}
