@media (max-width: em(768)) {
    ul.slick-dots {
        right: rem(13);
        left: auto;
        bottom: auto;
        top: rem(350);
    }

    .slick-dots li button::before {
        left: auto;
        margin-left: rem(10);
    }
}

@media (max-width: em(1278)) {


    .companies {
        padding: rem(30) 0;

        .container {
            .companies__logo {
                text-align: center;
                margin: 0 auto rem(25) auto;
            }

            .companies__header {
                text-align: left;
                background: none;
                padding: rem(0);
                border-radius: 10px;

                h1 {
                    span {
                        background: none;
                        color: $navyBlue;
                    }
                }
            }

            .companies__body {
                flex-direction: column;

                .companies__body__text {
                    width: 100%;
                    padding-right: 0;
                    order: 1;

                }

                .companies__body__image {
                    width: 100%;
                    order: 0;
                    margin-bottom: rem(35);
                    max-height: rem(400);
                    overflow: hidden;
                }
            }
        }

    }
}

@media (max-width: em(1000)) {
    .slick__items {
        div {

            img {
                margin: 0 auto;
                max-width: rem(180);
            }
        }
    }
}

@media (max-width: em(830)) {
    .caseStoryInfo__header {
        h4 {
            font-size: rem(50) !important;
        }
    }
}

@media (max-width: em(768)) {

    .accreditations_slider {
        padding-top: rem(20);
    }



    .cases__flex {
        width: 100% !important;

        .cases__header {
            h2 {
                text-align: center !important;
            }
        }
    }


    .container {
        padding: 0rem rem(20);
    }

    .caseStudy {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin-bottom: rem(10);

        .caseStudy__image {
            height: 50vh;
            width: 100%;
            order: 0;
        }

        .caseStudy__text {
            height: auto;
            width: 100%;
            order: 1;
            padding: rem(20) 0;
            flex-grow: 1;

            .caseStudy__text__container {}
        }
    }

    .caseStudy__info {
        padding: 0;

        .container {
            .caseStudy__info__column {
                flex-direction: column;

                .caseStudy__info__box {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: rem(25);
                    border-radius: 20px;

                    .caseStudy__info__box__header {
                        h2 {
                            text-align: center;
                            font-size: rem(25);
                        }

                    }

                    .caseStudy__info__box__text {
                        h5 {
                            text-align: center;
                            font-size: rem(20);
                        }

                    }
                }
            }
        }
    }

    h1 {
        margin-bottom: rem(20) !important;
        font-size: rem(34);
        line-height: 1 !important;
    }

    h2 {
        margin-bottom: rem(20) !important;
        font-size: rem(34);
        text-align: left;
    }

    .test {}

    .type1 {
        .section__type1__main {
            display: block;

            .section__type1__left {
                width: 100%;
                text-align: center;

                .container {
                    .logo {
                        // margin-bottom: rem(20);
                    }
                }
            }

            .section__type1__right {
                width: 100%;
                padding: rem(40) 0;
                padding-left: 0;

                .container {
                    padding: 0rem rem(20);

                    h4 {
                        margin-bottom: rem(16);
                    }
                }
            }
        }
    }

    .inform__leftSide__section1 {
        padding: rem(30) 0 !important;


        .container {
            padding: 0 rem(20) !important;
        }
    }

    .inform {
        display: block;

        .inform__leftSide {
            width: 100%;

            .inform__leftSide__picture {
                width: 100%;

                img {
                    max-width: 100%;
                }
            }


            .inform__leftSide__section1 {
                .inform__leftSide__section1__content {
                    .container {
                        padding: rem(20) rem(30);


                    }

                }

                &:before {
                    display: none;
                }
            }
        }

        .inform__rightSide {


            .inform__rightSide__section2 {
                padding: rem(25) 0 rem(25) 0;

                .inform__rightSide__section2__content {
                    padding: 0;
                    margin-bottom: 0;
                }
            }

            width: 100%;

            .inform__rightSide__section1 {
                height: auto;
                padding: rem(30) 0;

                .inform__rightSide__section1__content {
                    padding-left: 0;
                }

                &:before {
                    display: none;
                }


            }


            .inform__rightSide__section3 {
                height: auto;
                padding: rem(30) 0 rem(30) 0;
                display: block;

                .inform__rightSide__section3__content {
                    padding: 0;
                }

                .inform__rightSide__section3__button {
                    width: 100%;
                    margin: 0;

                    .contact {
                        padding: 0;
                        width: 100%;
                    }
                }

                &:before {
                    display: none;
                }
            }

        }
    }



    .banner__main {
        height: 100%;
        width: 100%;
        position: relative;

        &:before {
            content: "";
            width: 0% !important;
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            background: $navBlue;
        }

        img {
            height: rem(650);
            max-width: 100% !important;
        }
    }


    .banner {
        display: block !important;
        height: auto !important;
    }

    .slick-track {
        img {
            height: 60vh !important;
        }
    }

    .slick-slide {
        &:after {
            content: "";
            position: abssolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100% !important;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
        }
    }

    $vhHeight: rem(70);

    .banner__slider {
        height: auto;
        width: 100%;

        .slider__content {
            height: 100%;

            .slider__items {
                height: 100%;

                div {

                    height: 100%;

                    img {
                        height: 100%;
                    }
                }
            }


        }
    }

    .aboutus {
        padding: 0;

        .container {
            padding: 0;

            .aboutus__section {
                padding: rem(20);
                margin-bottom: 0;
                border-radius: 0px;
            }

            .aboutus__section:nth-last-child(even) {
                background: $lightGrey;
            }

            .aboutus__section:nth-last-child(odd) {
                background: white;
            }
        }
    }

    .profiles {
        padding: 0;
        padding-top: rem(25);

        .container {
            max-width: 100%;
            margin: 0 auto;
            padding: 0;

            .profiles__header {
                padding: 0 rem(20);
            }
        }
    }

    .profiles__list__person {
        padding: rem(20) !important;
    }


    .noMargin {
        margin-bottom: 0 !important;
    }



    .accreditations {
        padding-bottom: 0 !important;

        .container {


            .accreditations__content {
                display: block;

                .accreditations__image {
                    padding: 0;
                    width: 100%;
                    height: rem(250);
                    margin-bottom: rem(25);

                    img {
                        max-height: 100%;
                        max-width: 100%;
                        object-fit: cover;
                    }
                }

                .accreditations__text {
                    padding: 0;
                    width: 100%;

                    .accreditations__header {}
                }
            }

            .accreditations__card__1 {
                margin: 0;
                padding: rem(15) rem(30);
                width: 100%;

                .accreditations__card__1__image {
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &:before {
                    display: none;
                }

            }

            .accreditations__card__2 {
                left: auto;
                height: auto;

                .accreditations__card__quote {
                    i {
                        padding: 0;
                        margin: 0;
                    }
                }

                .accreditations__card__text {
                    h5 {
                        font-size: rem(30);
                        max-width: 100%;
                        padding-right: 0;
                    }
                }
            }
        }

        .container:last-of-type {
            width: 100%;

        }
    }



    .footerRight {
        font-size: rem(16) !important;
    }

    footer {
        display: block;

        .footer__section2 {
            padding: 0;

            .footer__button {
                margin-bottom: rem(50);
                position: relative;
                width: 100%;
                top: 0;
                left: auto;
                transform: none;

                a {
                    button {
                        width: 100%;
                    }
                }
            }
        }

        .footer__section1 {
            width: 100%;
            padding: rem(25) 0;

            .footer__container {
                .footer__section1__header {
                    text-align: left;
                    margin-bottom: rem(30);
                }

                .footer__section1__links {

                    margin-bottom: rem(30);

                    ul {
                        display: block;
                        text-align: left;


                        li {
                            width: 50%;
                            padding: rem(10) 0;
                            display: block;
                            border: 0;

                            a {
                                width: 100%;
                                text-align: center;
                                font-size: rem(16);
                            }
                        }


                    }
                }
            }
        }

        .footer__section2 {
            width: 100%;
        }
    }


    .footer__section2__links {
        padding-bottom: rem(20);
    }

    ul.footer li:first-of-type {
        padding: 0rem rem(20);

        @media (max-width: em(750)) {
            padding: 0rem rem(20) 0 0;
        }
    }

    .footer__section1__contact {
        p {
            color: #D2A32E;
        }

        .footer__section1__contact__link1,
        .footer__section1__contact__link2 {
            margin-bottom: rem(20);
        }

        .footer__section1__contact__link3 {
            .footer__section1__contact__link3__text {}
        }
    }

    #ourCompanies__slider .arrow span {
        font-size: rem(50);
        padding: rem(20);
    }

    .ourCompanies__header {
        margin-bottom: 0 !important;

        h2 {
            text-align: center !important;
        }
    }



    .caseStory {
        .container {
            .caseStory__header {
                display: block;

                .caseStory__header__image {
                    width: 100%;
                    margin-bottom: rem(40);
                    display: none;

                    img {
                        max-width: 100%;
                    }
                }

                .caseStory__header__card {
                    width: 100%;

                    .caseStory__header__card__body {
                        width: 100%;
                        box-shadow: none;

                        &:before {
                            background: none;
                        }

                        .caseStory__header__card__body__text {
                            div {
                                padding: rem(10)
                            }
                        }
                    }
                }
            }
        }
    }

    .caseStoryInfo {
        padding: rem(30) 0;

        .caseStoryInfo__header {
            h4 {
                margin-bottom: 2.5rem;
                font-size: rem(40);
                text-align: left;
            }


        }

        .caseStoryInfo__text {
            display: block !important;

            .caseStoryInfo__text__split {
                padding-right: 0 !important;
                width: 100% !important;

                p {
                    margin: 0;
                }
            }

            p {
                margin-top: rem(40);
                margin-bottom: rem(60);

            }


        }
    }



    .arrow_next {
        right: rem(-60) !important;
        padding: rem(60) !important;

        img {
            height: 100%;
        }
    }

    .arrow_prev {
        left: rem(-60) !important;
        padding: rem(60) !important;
    }


    .banner__main {
        height: 100%;
        width: 100%;
        position: relative;

        img {
            max-width: 100% !important;
        }
    }


    .banner__card {
        padding: rem(20) rem(20) !important;
        border: 0 !important;
        top: 25% !important;

        transform: translateY(-25%) !important;
        max-height: none !important;


        .banner__card__subheader {
            h4 {
                line-height: 1.3;
            }
        }

        .banner__card__link {
            margin-top: rem(20) !important;
            font-size: rem(20) !important;
            text-align: left !important;
        }
    }


}



@media (max-width: em(1280)) {
    .banner__main__arrows {
        display: none;
    }
}

@media (max-width: em(1000)) {
    .splitImages {
        display: block;
        margin: 0;
        height: auto;

        .splitImages__1 {
            width: 100%;
            height: auto;

            img {
                vertical-align: bottom;
            }

            .splitImages__card {
                display: flex;
                justify-content: center;
                position: relative;
                width: auto;
                bottom: auto;
                top: auto;
                height: auto;

                @media (max-width: em(750)) {
                    padding: rem(25) rem(20);
                }

                .splitImages__card__text {
                    h5 {
                        font-size: rem(30);
                    }
                }
            }
        }

        .splitImages__2 {
            width: 100%;
            height: auto;
            display: none;
        }

        .splitImages__card {
            display: block;
            position: relative;
            bottom: auto;
            top: auto;
        }
    }

}

@media (max-width: em(1020)) {
    .values__bullets {
        margin-top: 50px;

        .values__bullet {
            width: 100%;
            margin-bottom: 10px;

        }

        flex-direction: column;

        .bullet_accountability {
            margin-top: 0;
            padding: rem(25) !important;
        }

        .bullet_commitment {
            margin-top: 0 !important;
        }

        .bullet_quality {
            margin-top: 0 !important;
        }
    }
}

@media (max-width: em(768)) {

    .our_services__header {
        margin-bottom: rem(25);
    }

    .accreditations__content {
        margin-top: -50px;
    }

    .our_services__design {
        margin-bottom: rem(20) !important;
    }

    .our__commitments,
    .our_quality,
    #our_accreditations {
        padding: rem(30) 0 !important;
    }


}

@media (max-width: em(1230)) {
    .sectors__infobox__body__content {
        position: relative !important;
    }


    .sectors__infobox .sectors__infobox__body {
        height: auto;
    }

    .sectors__infobox__body__header {
        h4 {
            color: white !important;
        }
    }

    .sectors__infobox__body__background {
        img {
            filter: brightness(50%) !important;
            max-height: 100% !important;
        }
    }

    .color_overlay {
        display: none;
    }

    .alternate_overlay {
        display: none;
    }

    .sectors__infobox__body__content {
        top: 0 !important;
    }

    .sectors {
        height: auto;
        margin-bottom: rem(0);


        .container {
            .sectors__left__container {
                display: block;

                .sectors__header {}

                .sectors__infobox {
                    display: block;

                    .sectors__infobox__right {
                        padding: 0;
                        width: 100%;
                    }

                    .sectors__infobox__left {
                        padding-right: 0;
                        width: 100%;

                        .sectors__infobox__box {
                            padding: rem(20) 0;
                        }
                    }
                }
            }
        }
    }

    .sectors__infobox__box {
        width: auto;
        margin-right: 0;
        margin-bottom: rem(10);
    }

    .sectors__infobox__box__header__info {
        padding-left: 0;
        padding-right: 0;
        display: block
    }
}
