@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
$baseFontFamily: 'Roboto',
serif;
$secondaryFontFamily:'Arvo',
serif;
$light: 300;
$roman: 400;
$bold: 700;
$black: 900;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $baseFontFamily;
    line-height: 1.2;
}

a {
    text-decoration: none;
    transition: all 0.2s linear;

    &:hover {
        //color:$primary;
    }
}

strong {
    font-weight: $bold;
}

h1 {
    font-size: rem(50);
    font-weight: 700;
    margin-bottom: 2.5rem;

    @media (max-width: em(1199)) {
        font-size: rem(38);
    }

    @media (max-width: em(610)) {
        font-size: rem(32);
    }
}

h2 {
    font-size: rem(42);
    font-weight: 700;
    margin-bottom: rem(20);


    @media (max-width: em(610)) {
        font-size: rem(28);
    }
}

h3 {
    font-size: rem(24);
    font-weight: $black;
}

h4 {
    font-size: rem(22);
    font-weight: $black;
}

h5 {
    font-weight: 400;
    font-size: rem(18);
}

p {
    line-height: rem(30);
    color: lighten($darkGrey, 20%);
}



/* BANNER CARD */

.orange {
    color: $lightOrange;
    font-weight: 700;
}

.red {
    color: #A3071C;
    font-weight: 700;
}


.banner__card__header {
    margin-bottom: rem(20);

    h3 {
        font-size: rem(30);
        font-weight: 600;
        color: $lightOrange;
        line-height: 1.5
    }
}

.banner__card__subheader {
    margin-bottom: rem(10);

    h4 {
        line-height: 1.4;
        font-size: rem(17);
        font-weight: 600;
        color: $darkGrey;
    }
}

.banner__card__text {
    h5 {
        line-height: rem(25);
        font-size: rem(16);
    }
}

/* SECTIONS */

.section__type1__main {
    h1 {
        font-size: rem(50);
        font-weight: 700;
        color: #1D64A5;
        margin-bottom: rem(12);
    }

    h3 {
        color: $darkGrey;
        font-size: rem(30);
    }
}

.section__type1__right {
    h4 {
        line-height: 1.5;
        margin-bottom: rem(16);
        color: $darkGrey;
    }

    h5 {
        font-size: rem(19);
        line-height: 1.4;
        color: $lightGrey;
    }
}

.inform {

    .inform__leftSide__section1__content {

        p {
            color: white;
        }

        li {
            a {
                color: white;
            }
        }
    }

    .inform__rightSide__section2__content {}
}

.splitImages__card {
    .splitImages__card__quote {
        i {
            font-size: rem(90);
            color: $skyBlue;
            margin-bottom: rem(25);

            @media(max-width:em(770)) {
                margin-bottom: rem(20) !important;
            }
        }
    }

    .splitImages__card__text {
        h5 {
            color: white;
            font-weight: 700;
            line-height: 1.2;
            font-size: rem(35);
        }
    }
}


.accreditations__card__2 {
    .accreditations__card__quote {
        i {
            font-size: rem(90);
            color: white;
            margin-bottom: rem(25);
            padding-left: rem(100);

            @media (max-width: em(1610)) {
                padding-left: 0;
            }


            @media(max-width:em(770)) {
                margin-bottom: rem(20) !important;
            }
        }
    }

    .accreditations__card__text {
        h5 {
            padding-left: rem(100);
            padding-right: rem(135);
            color: white;
            font-weight: 700;
            line-height: 1.2;
            font-size: rem(35);
            max-width: 40%;

            @media (max-width: em(1690)) {
                padding-right: 0 !important;
            }

            @media (max-width: em(1610)) {
                padding-left: 0;
            }


            @media (max-width: em(1300)) {
                padding-left: 0;
            }

            @media (max-width: em(1300)) {
                max-width: 70%;
            }
        }
    }
}



.sectors__header {}

.caseStoryInfo {
    .caseStoryInfo__header {
        h4 {
            margin-bottom: 2.5rem;
            font-size: rem(60);
        }


    }


}

.caseStudies {
    .caseStudies__header {
        h4 {
            margin-bottom: rem(70);
        }

        .caseStoryInfo__text {}
    }
}



.navyBlue {
    color: $navyBlue;
}

.lightBlue {
    color: $lightBlue;
}

.footer {}

.footer__section1__header {
    h5 {
        color: white;
    }
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: 600;
}

.accreditations__header {
    h3 {
        font-size: rem(30);
    }
}

.footer__section1__header {

    h5 {
        font-size: rem(28);
        font-weight: bold;
        font-family: $secondaryFontFamily;
    }
}

.inform__rightSide__section1__content {
    .container {
        p {
            color: white;
        }
    }
}


.sector {
    font-weight: 900;
    color: $sectorBlue;
    font-size: rem(20);
}

.small__header {
    margin-bottom: rem(10);
    font-size: rem(20);
    display: block;
}
