button.contact {
    background: #C80523;
    font-size: rem(20);
    height: rem(75);
    padding: 0 rem(50);
    border: 0;
    display: flex;
    align-items: center;
    transition: 0.2s all ease;
    font-family: $secondaryFontFamily;

    @media(max-width:em(1640)) {
        display: none;
    }

    &:hover {
        transition: 0.2s all ease;
        cursor: pointer;
        background: lighten(#C80523, 20%);
    }

    span {
        color: white;
    }
}

button.cases {
    padding: rem(20) rem(60);
    color: $darkGrey;
    font-size: rem(16);
    border: 1px solid $lightOrange;
    font-family: $baseFontFamily;
    font-weight: 600;
    background: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.08s ease-in;

    &:hover {
        cursor: pointer;
        color: white;
    }

    &:before {
        content: "";
        position: absolute;
        background: $lightOrange;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        z-index: -1;
        -webkit-transition: top 0.09s ease-in;
    }

    &:hover:before {
        top: 0;
    }
}

button.readMoreBtn {
    background: none;
    display: block;
    font-size: rem(20);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: rem(10);

    transition: 0.4s all ease;

    &:hover {
        font-weight: 600;
        transition: margin-left 0.2s;
        margin-left: 7px;
    }
}

.banner__card__link {
    a {
        span {
            display: block;
            position: relative;
            left: 0px;
            transition: left 0.2s;

            &:hover {
                left: 7px;
                font-weight: 600;
                transition: left 0.2s;
                margin-left: 7px;
            }
        }
    }
}
