input:not(submit),
select,
textarea {
    height: rem(50);
    padding: rem(15);
    font-size: rem(16);
    -webkit-appearance: none;
    border: 1px solid #ccc;

    &:focus {
        border-color: $blue;
        outline: none;
    }
}

textarea {
    height: rem(150);
}

label {
    &.error {
        margin-top: rem(10);
        font-weight: $bold;
        background: red;
        color: $basewhite;
        width: 100%;
        text-align: left;
        padding: rem(2) rem(10);
        color:$basewhite !important;
    }
}