ul.circle {
    margin-top: rem(20);

    @media (max-width: em(750)) {
        margin-top: rem(20);
    }

    li.circle {
        padding: rem(10) 0;
        position: relative;
        margin-left: 30px;


        a {
            line-height: 1.2
        }

        &:before {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f192";
            color: $darkGrey;
            left: -30px;
            position: absolute;
        }
    }
}



ul.footer {
    display: inline-flex;
    width: 100%;

    li {

        display: flex;
        padding: rem(0) rem(20);
        position: relative;



        @media(max-width:em(1370)) {
            padding: 0 rem(20);
        }

        &:after {
            content: "";
            position: absolute;
            right: 0;
            height: rem(22);
            width: rem(1);
            background: #2f6e9a;
            top: 50%;
            transform: translateY(-50%);

            @media(max-width:em(770)) {
                display: none;
            }
        }

        &:first-of-type {
            padding-left: 0;
        }

        &:last-of-type {
            padding-right: 0;

            &:after {
                display: none;
            }
        }

        a {
            text-transform: uppercase;
            color: white;

            @media (max-width: em(980)) {
                font-size: rem(16);
            }
        }


    }

}

.footerRight {
    color: $darkGrey !important;
}


li.dropdown {
    background: $navBlue;
    width: 100%;
    position: relative;
}

ul.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    display: none;
}

li.dropdown:hover ul.dropdown-content {
    display: block;
}

.footer__section2__logo__image__logo {
    position: relative;
    padding-bottom: rem(20);
    margin-bottom: rem(20);

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: rem(80);
        height: rem(1);
        background: #537CB0;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}

.footer__section2__links {
    li {
        padding: 0 rem(27);
    }
}

#moreElectrical,
#moreMechanical {
    li {
        a {
            line-height: 1;
        }
    }

    li.circle:before {
        color: white;
        margin-top: 2px;
    }
}

.sectors__infobox__body__text {
    ul {
        li {
            a {
                line-height: 1;
            }
        }

        li.circle:before {
            color: white;
            margin-top: 2px;
        }
    }

}
